body {
  margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://vikna-evi.com.ua/assets/templates/default/img/xtop_bg.jpg.pagespeed.ic.ZMmbWq3dZ8.jpg");
  background-repeat: no-repeat;
    background-size: cover;
}

h1{
 margin: 20%;
  color: green;
  font-size: 70px;
}

p{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
card{
  display: inline;

}
